{
  "env": {
    "browser": true,
    "commonjs": true
  },
  "extends": [
    "airbnb-base"
  ],
  "plugins": [],
  "rules": {
    "max-len": "off",
    "no-console": "off",
    "no-param-reassign": false
  },
  "parserOptions": {}
}